USE [master]
GO
/****** Object:  Database [Test]    Script Date: 3/24/2026 11:26:56 PM ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'/var/opt/mssql/data/Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'/var/opt/mssql/data/Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 3/24/2026 11:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[County] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Street] [nvarchar](50) NULL,
	[StreetNumber] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[InverterId] [int] NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumptionReadings]    Script Date: 3/24/2026 11:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumptionReadings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LocationId] [int] NULL,
	[Timestamp] [datetime2](7) NULL,
	[Power] [nvarchar](50) NULL,
	[Source] [nvarchar](50) NULL,
 CONSTRAINT [PK_ConsumptionReadings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyEnergyBalances]    Script Date: 3/24/2026 11:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyEnergyBalances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LocationId] [int] NULL,
	[Day] [datetime2](7) NULL,
	[ProducedKwh] [decimal](18, 0) NULL,
	[ConsumedKwh] [decimal](18, 0) NULL,
	[SurplusKwh] [decimal](18, 0) NULL,
	[DeficitKwh] [decimal](18, 0) NULL,
	[CalculatedAtUtc] [datetime2](7) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_DailyEnergyBalances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InverterInfos]    Script Date: 3/24/2026 11:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InverterInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[SerialNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_InverterInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InverterReadings]    Script Date: 3/24/2026 11:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InverterReadings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LocationId] [int] NULL,
	[Timestamp] [datetime2](7) NULL,
	[Power] [int] NULL,
	[Voltage] [int] NULL,
	[Current] [int] NULL,
	[Source] [int] NULL,
	[InverterId] [int] NULL,
 CONSTRAINT [PK_InverterReadings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderSettlements]    Script Date: 3/24/2026 11:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderSettlements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LocationId] [int] NULL,
	[Day] [datetime2](7) NULL,
	[InjectedKwh] [decimal](18, 0) NULL,
	[AcceptedKwh] [decimal](18, 0) NULL,
	[RatePerKwh] [decimal](18, 0) NULL,
	[MonetaryCredit] [decimal](18, 0) NULL,
	[EnergyCreditKwh] [decimal](18, 0) NULL,
	[Mode] [nvarchar](50) NULL,
	[ProcessedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_ProviderSettlements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConsumptionReadings]  WITH CHECK ADD  CONSTRAINT [FK_ConsumptionReadings_Addresses] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[ConsumptionReadings] CHECK CONSTRAINT [FK_ConsumptionReadings_Addresses]
GO
ALTER TABLE [dbo].[DailyEnergyBalances]  WITH CHECK ADD  CONSTRAINT [FK_DailyEnergyBalances_Addresses] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[DailyEnergyBalances] CHECK CONSTRAINT [FK_DailyEnergyBalances_Addresses]
GO
ALTER TABLE [dbo].[InverterReadings]  WITH CHECK ADD  CONSTRAINT [FK_InverterReadings_Addresses] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[InverterReadings] CHECK CONSTRAINT [FK_InverterReadings_Addresses]
GO
ALTER TABLE [dbo].[InverterReadings]  WITH CHECK ADD  CONSTRAINT [FK_InverterReadings_InverterInfos] FOREIGN KEY([InverterId])
REFERENCES [dbo].[InverterInfos] ([Id])
GO
ALTER TABLE [dbo].[InverterReadings] CHECK CONSTRAINT [FK_InverterReadings_InverterInfos]
GO
ALTER TABLE [dbo].[ProviderSettlements]  WITH CHECK ADD  CONSTRAINT [FK_ProviderSettlements_Addresses] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[ProviderSettlements] CHECK CONSTRAINT [FK_ProviderSettlements_Addresses]
GO
USE [master]
GO
