USE [master]
GO
/****** Object:  Database [VNM]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE DATABASE [VNM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VNM', FILENAME = N'/var/opt/mssql/data/VNM.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VNM_log', FILENAME = N'/var/opt/mssql/data/VNM_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VNM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VNM]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[County] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[StreetNumber] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](50) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](225) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](225) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](225) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](225) NOT NULL,
	[RoleId] [nvarchar](225) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](225) NOT NULL,
	[ExternalSubjectId] [nvarchar](225) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[PhoneNumber] [nvarchar](127) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumptionReadings]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumptionReadings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Power] [decimal](18, 5) NOT NULL,
	[Source] [nvarchar](50) NOT NULL,
	[AddressId] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_ConsumptionReadings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyEnergyBalances]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyEnergyBalances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AddressId] [int] NOT NULL,
	[Day] [datetime2](7) NOT NULL,
	[ProducedKwh] [decimal](18, 5) NOT NULL,
	[ConsumedKwh] [decimal](18, 5) NOT NULL,
	[SurplusKwh] [decimal](18, 5) NOT NULL,
	[DeficitKwh] [decimal](18, 5) NOT NULL,
	[CalculatedAtUtc] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[NetKwh] [decimal](18, 5) NOT NULL,
	[InverterInfoId] [int] NULL,
	[NetPerAddressKwh] [decimal](18, 5) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_DailyEnergyBalances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DestinationTransferRules]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DestinationTransferRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SourceTransferPolicyId] [int] NOT NULL,
	[DestinationAddressId] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[Priority] [int] NOT NULL,
	[WeightPercent] [decimal](18, 5) NULL,
	[MaxDailyKwh] [decimal](18, 5) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[DistributionMode] [int] NOT NULL,
 CONSTRAINT [PK_DestinationTransferRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InverterInfos]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InverterInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[SerialNumber] [nvarchar](50) NOT NULL,
	[AddressId] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_InverterInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InverterReadings]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InverterReadings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InverterInfoId] [int] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Power] [decimal](18, 5) NOT NULL,
	[Voltage] [decimal](18, 5) NOT NULL,
	[Current] [decimal](18, 5) NOT NULL,
	[Source] [nvarchar](50) NOT NULL,
	[AddressId] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_InverterReadings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderSettlements]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderSettlements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransferWorkflowId] [int] NULL,
	[SourceAddressId] [int] NOT NULL,
	[DestinationAddressId] [int] NOT NULL,
	[Day] [datetime2](7) NOT NULL,
	[SubmittedKwh] [decimal](18, 5) NOT NULL,
	[SettledKwh] [decimal](18, 5) NOT NULL,
	[RatePerKwh] [decimal](18, 5) NOT NULL,
	[MonetaryCredit] [decimal](18, 5) NOT NULL,
	[EnergyCreditKwh] [decimal](18, 5) NOT NULL,
	[SettlementMode] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProviderSettlements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SourceTransferPolicies]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SourceTransferPolicies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SourceAddressId] [int] NOT NULL,
	[DistributionMode] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_SourceTransferPolicies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SourceTransferSchedules]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SourceTransferSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SourceTransferPolicyId] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[ScheduleType] [int] NOT NULL,
	[ExecutionMode] [int] NOT NULL,
	[StartDateUtc] [datetime2](7) NOT NULL,
	[EndDateUtc] [datetime2](7) NULL,
	[TimeOfDayUtc] [time](7) NULL,
	[RepeatEveryValue] [int] NULL,
	[DayOfWeek] [int] NULL,
	[DayOfMonth] [int] NULL,
	[LastRunUtc] [datetime2](7) NULL,
	[NextRunUtc] [datetime2](7) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RepeatEveryUnit] [int] NULL,
 CONSTRAINT [PK_SourceTransferSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferLedgerEntries]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferLedgerEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransferWorkflowId] [int] NOT NULL,
	[SourceAddressId] [int] NOT NULL,
	[DestinationAddressId] [int] NOT NULL,
	[BalanceDay] [date] NOT NULL,
	[AmountKwh] [decimal](18, 5) NOT NULL,
	[ExecutedAtUtc] [datetime2](7) NOT NULL,
	[ExecutionReference] [nvarchar](64) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TransferLedgerEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferWorkflow]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferWorkflow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EffectiveAtUtc] [datetime2](7) NOT NULL,
	[BalanceDayUtc] [datetime2](7) NOT NULL,
	[SourceAddressId] [int] NOT NULL,
	[DestinationAddressId] [int] NOT NULL,
	[SourceSurplusKwhAtWorkflow] [decimal](18, 5) NOT NULL,
	[DestinationDeficitKwhAtWorkflow] [decimal](18, 5) NOT NULL,
	[TriggerType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[AppliedDistributionMode] [int] NOT NULL,
	[DestinationTransferRuleId] [int] NULL,
	[Priority] [int] NULL,
	[WeightPercent] [decimal](18, 2) NULL,
	[SourceSurplusKwhAtExecution] [decimal](18, 5) NULL,
	[AmountKwh] [decimal](18, 5) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[SettlementMode] [int] NOT NULL,
	[DestinationDeficitKwhAtExecution] [decimal](18, 5) NULL,
	[AmountAtExecutionKwh] [decimal](18, 5) NULL,
 CONSTRAINT [PK_TransferWorkflow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferWorkflowStatusHistory]    Script Date: 5/11/2026 5:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferWorkflowStatusHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransferWorkflowId] [int] NOT NULL,
	[FromStatus] [int] NULL,
	[ToStatus] [int] NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TransferWorkflowStatusHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsumptionReadings_AddressId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConsumptionReadings_AddressId] ON [dbo].[ConsumptionReadings]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DailyEnergyBalances_AddressId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_DailyEnergyBalances_AddressId] ON [dbo].[DailyEnergyBalances]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DailyEnergyBalances_InverterInfoId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_DailyEnergyBalances_InverterInfoId] ON [dbo].[DailyEnergyBalances]
(
	[InverterInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DestinationTransferRules_DestinationAddressId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_DestinationTransferRules_DestinationAddressId] ON [dbo].[DestinationTransferRules]
(
	[DestinationAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DestinationTransferRules_SourceTransferPolicyId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_DestinationTransferRules_SourceTransferPolicyId] ON [dbo].[DestinationTransferRules]
(
	[SourceTransferPolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InverterInfos_AddressId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_InverterInfos_AddressId] ON [dbo].[InverterInfos]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InverterReadings_InverterInfoId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_InverterReadings_InverterInfoId] ON [dbo].[InverterReadings]
(
	[InverterInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProviderSettlements_SourceAddressId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProviderSettlements_SourceAddressId] ON [dbo].[ProviderSettlements]
(
	[SourceAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProviderSettlements_TransferWorkflowId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProviderSettlements_TransferWorkflowId] ON [dbo].[ProviderSettlements]
(
	[TransferWorkflowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SourceTransferPolicies_SourceAddressId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_SourceTransferPolicies_SourceAddressId] ON [dbo].[SourceTransferPolicies]
(
	[SourceAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SourceTransferSchedules_SourceTransferPolicyId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_SourceTransferSchedules_SourceTransferPolicyId] ON [dbo].[SourceTransferSchedules]
(
	[SourceTransferPolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransferLedgerEntries_ExecutedAtUtc]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransferLedgerEntries_ExecutedAtUtc] ON [dbo].[TransferLedgerEntries]
(
	[ExecutedAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransferLedgerEntries_TransferWorkflowId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransferLedgerEntries_TransferWorkflowId] ON [dbo].[TransferLedgerEntries]
(
	[TransferWorkflowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransferWorkflow_DestinationAddressId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransferWorkflow_DestinationAddressId] ON [dbo].[TransferWorkflow]
(
	[DestinationAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransferWorkflow_DestinationTransferRuleId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransferWorkflow_DestinationTransferRuleId] ON [dbo].[TransferWorkflow]
(
	[DestinationTransferRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransferWorkflow_SourceAddressId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransferWorkflow_SourceAddressId] ON [dbo].[TransferWorkflow]
(
	[SourceAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransferWorkflowStatusHistory_CreatedAtUtc]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransferWorkflowStatusHistory_CreatedAtUtc] ON [dbo].[TransferWorkflowStatusHistory]
(
	[CreatedAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransferWorkflowStatusHistory_TransferWorkflowId]    Script Date: 5/11/2026 5:02:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransferWorkflowStatusHistory_TransferWorkflowId] ON [dbo].[TransferWorkflowStatusHistory]
(
	[TransferWorkflowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[AspNetRoleClaims] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[AspNetUserClaims] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[ConsumptionReadings] ADD  CONSTRAINT [DF__Consumpti__Addre__60A75C0F]  DEFAULT ((0)) FOR [AddressId]
GO
ALTER TABLE [dbo].[ConsumptionReadings] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[DailyEnergyBalances] ADD  CONSTRAINT [DF__DailyEner__Addre__619B8048]  DEFAULT ((0)) FOR [AddressId]
GO
ALTER TABLE [dbo].[DailyEnergyBalances] ADD  CONSTRAINT [DF__DailyEner__Inver__628FA481]  DEFAULT ((0)) FOR [InverterInfoId]
GO
ALTER TABLE [dbo].[DailyEnergyBalances] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[DestinationTransferRules] ADD  DEFAULT ((0)) FOR [DistributionMode]
GO
ALTER TABLE [dbo].[InverterInfos] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[InverterReadings] ADD  CONSTRAINT [DF__InverterR__Inver__6383C8BA]  DEFAULT ((0)) FOR [InverterInfoId]
GO
ALTER TABLE [dbo].[InverterReadings] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[TransferLedgerEntries] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[TransferLedgerEntries] ADD  DEFAULT (N'') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TransferWorkflow] ADD  DEFAULT ((0)) FOR [AppliedDistributionMode]
GO
ALTER TABLE [dbo].[TransferWorkflow] ADD  DEFAULT ((0.0)) FOR [AmountKwh]
GO
ALTER TABLE [dbo].[TransferWorkflow] ADD  DEFAULT ((0)) FOR [SettlementMode]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ConsumptionReadings]  WITH CHECK ADD  CONSTRAINT [FK_ConsumptionReadings_Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsumptionReadings] CHECK CONSTRAINT [FK_ConsumptionReadings_Addresses_AddressId]
GO
ALTER TABLE [dbo].[DailyEnergyBalances]  WITH CHECK ADD  CONSTRAINT [FK_DailyEnergyBalances_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyEnergyBalances] CHECK CONSTRAINT [FK_DailyEnergyBalances_Addresses]
GO
ALTER TABLE [dbo].[DestinationTransferRules]  WITH CHECK ADD  CONSTRAINT [FK_DestinationTransferRules_Addresses_DestinationAddressId] FOREIGN KEY([DestinationAddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[DestinationTransferRules] CHECK CONSTRAINT [FK_DestinationTransferRules_Addresses_DestinationAddressId]
GO
ALTER TABLE [dbo].[DestinationTransferRules]  WITH CHECK ADD  CONSTRAINT [FK_DestinationTransferRules_SourceTransferPolicies_SourceTransferPolicyId] FOREIGN KEY([SourceTransferPolicyId])
REFERENCES [dbo].[SourceTransferPolicies] ([Id])
GO
ALTER TABLE [dbo].[DestinationTransferRules] CHECK CONSTRAINT [FK_DestinationTransferRules_SourceTransferPolicies_SourceTransferPolicyId]
GO
ALTER TABLE [dbo].[InverterInfos]  WITH CHECK ADD  CONSTRAINT [FK_InverterInfos_Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InverterInfos] CHECK CONSTRAINT [FK_InverterInfos_Addresses_AddressId]
GO
ALTER TABLE [dbo].[InverterReadings]  WITH CHECK ADD  CONSTRAINT [FK_InverterReadings_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[InverterReadings] CHECK CONSTRAINT [FK_InverterReadings_Addresses]
GO
ALTER TABLE [dbo].[InverterReadings]  WITH CHECK ADD  CONSTRAINT [FK_InverterReadings_InverterInfos] FOREIGN KEY([InverterInfoId])
REFERENCES [dbo].[InverterInfos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InverterReadings] CHECK CONSTRAINT [FK_InverterReadings_InverterInfos]
GO
ALTER TABLE [dbo].[ProviderSettlements]  WITH CHECK ADD  CONSTRAINT [FK_ProviderSettlements_TransferWorkflow_TransferWorkflowId] FOREIGN KEY([TransferWorkflowId])
REFERENCES [dbo].[TransferWorkflow] ([Id])
GO
ALTER TABLE [dbo].[ProviderSettlements] CHECK CONSTRAINT [FK_ProviderSettlements_TransferWorkflow_TransferWorkflowId]
GO
ALTER TABLE [dbo].[SourceTransferPolicies]  WITH CHECK ADD  CONSTRAINT [FK_SourceTransferPolicies_Addresses_SourceAddressId] FOREIGN KEY([SourceAddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[SourceTransferPolicies] CHECK CONSTRAINT [FK_SourceTransferPolicies_Addresses_SourceAddressId]
GO
ALTER TABLE [dbo].[SourceTransferSchedules]  WITH CHECK ADD  CONSTRAINT [FK_SourceTransferSchedules_SourceTransferPolicies_SourceTransferPolicyId] FOREIGN KEY([SourceTransferPolicyId])
REFERENCES [dbo].[SourceTransferPolicies] ([Id])
GO
ALTER TABLE [dbo].[SourceTransferSchedules] CHECK CONSTRAINT [FK_SourceTransferSchedules_SourceTransferPolicies_SourceTransferPolicyId]
GO
ALTER TABLE [dbo].[TransferLedgerEntries]  WITH CHECK ADD  CONSTRAINT [FK_TransferLedgerEntries_TransferWorkflow] FOREIGN KEY([TransferWorkflowId])
REFERENCES [dbo].[TransferWorkflow] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransferLedgerEntries] CHECK CONSTRAINT [FK_TransferLedgerEntries_TransferWorkflow]
GO
ALTER TABLE [dbo].[TransferWorkflow]  WITH CHECK ADD  CONSTRAINT [FK_TransferWorkflow_Addresses_DestinationAddressId] FOREIGN KEY([DestinationAddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[TransferWorkflow] CHECK CONSTRAINT [FK_TransferWorkflow_Addresses_DestinationAddressId]
GO
ALTER TABLE [dbo].[TransferWorkflow]  WITH CHECK ADD  CONSTRAINT [FK_TransferWorkflow_Addresses_SourceAddressId] FOREIGN KEY([SourceAddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[TransferWorkflow] CHECK CONSTRAINT [FK_TransferWorkflow_Addresses_SourceAddressId]
GO
ALTER TABLE [dbo].[TransferWorkflow]  WITH CHECK ADD  CONSTRAINT [FK_TransferWorkflow_DestinationTransferRules_DestinationTransferRuleId] FOREIGN KEY([DestinationTransferRuleId])
REFERENCES [dbo].[DestinationTransferRules] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TransferWorkflow] CHECK CONSTRAINT [FK_TransferWorkflow_DestinationTransferRules_DestinationTransferRuleId]
GO
ALTER TABLE [dbo].[TransferWorkflowStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_TransferWorkflowStatusHistory_TransferWorkflow] FOREIGN KEY([TransferWorkflowId])
REFERENCES [dbo].[TransferWorkflow] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransferWorkflowStatusHistory] CHECK CONSTRAINT [FK_TransferWorkflowStatusHistory_TransferWorkflow]
GO
USE [master]
GO
